# =======================
# GENERAL
# =======================
.DS_Store
Thumbs.db
.env
*.log

# =======================
# PYTHON / DJANGO
# =======================
thanedarbe/venv/
thanedarbe/__pycache__/
thanedarbe/*.pyc
thanedarbe/db.sqlite3
thanedarbe/media/
thanedarbe/staticfiles/
thanedarbe/.env

# migrations (optional to ignore)
thanedarbe/**/migrations/*.py
!thanedarbe/**/migrations/__init__.py

# =======================
# ANGULAR
# =======================
thanedar-ui/node_modules/
thanedar-ui/.angular/
thanedar-ui/dist/
thanedar-ui/build/
thanedar-ui/.env

# =======================
# IDE
# =======================
.vscode/
.idea/